@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section script{
    <script type="text/javascript">
        $(function () {
            $('.nav-item.userdepartment').addClass('active');
            //构建添加、修改窗口
            $('#employee_dialog_editdialog').dialog({
                closed: true,
                buttons: [{
                    iconCls: 'icon-ok',
                    text: '提交',
                    handler: function () {
                        SubmitUser();
                    }
                }, {
                    iconCls: 'icon-no',
                    text: '取消',
                    handler: function () {
                        CloseUserDialog();
                    }
                }
                ],
                modal: true
            });

            UpdateComboDate();
            InitAndFillUserQuickMoveCombo();
            InitAndFillUserEditCombos();
            $("#employee_treegrid_userlist").treegrid({
                //页面列表初始化
                @Html.HasActionPermission("GetEmployees", "Employee","url: '/Employee/GetEmployees',")
                title: false,
                animate: true,
                nowrap: false,
                collapsible: true,
                toolbar: '#toolbar',
                fitColumns: true,
                idField: 'Id',
                treeField: 'Name',
                singleSelect: true,
                pagination: true,
                rowStyler: function (row) {
                    if (row.Id.substr(0, 1) == "-") {
                        return 'background:#f3f3f3;';
                    }
                },
                onClickRow: function (row) {
                    if (row.Id.substr(0, 1) == "-") {
                        $(this).treegrid('unselect', row.Id);
                    }
                },
                onLoadSuccess: function () {
                    $('.employee_linkbutton_edit').linkbutton({ plain: true, iconCls: 'icon-edit' });
                    $('.employee_linkbutton_state').linkbutton({ plain: true });
                    $('.icon-chat').tooltip();

                }, onDblClickRow: function (row) {
                    if (row.Id.toString().substr(0, 1) != "-")
                    {
                        OpenAndFillUserEditDialog(row.Id);
                    }

                }
            });



            //搜索框回车事件
            $('#employee_input_keyword').bind('keydown', function (e) {
                if (e.keyCode == 13) {
                    $(document.activeElement).next().click();
                }
            })

            //全部展开
            $("#employee_linkbutton_expandall").click(function () {
                $('#employee_treegrid_userlist').treegrid('expandAll');
            });

            //全部收缩
            $("#employee_linkbutton_collapseall").click(function () {
                $('#employee_treegrid_userlist').treegrid('collapseAll');
            });

            //刷新权限项表
            $('#employee_linkbutton_refresh').click(function () {
                $('#employee_treegrid_userlist').treegrid('reload');
            });

            //取消选择
            $('#employee_linkbutton_unselect').click(function () {
                $('#employee_treegrid_userlist').treegrid('unselectAll');
            });

            //添加人员信息
            $('#employee_linkbutton_add').click(function () {
                $('#employee_dialog_editdialog').dialog({ title: '添加人员信息', height: 340, closed: false });
                $('#employee_validatebox_username').attr('disabled', false).validatebox('enableValidation');
                $('#employee_form_edit').attr('data-ajaxurl', '@Url.ActionPermission("Add", "Employee")').form('reset');
                $('#employee_combobox_role').combobox('clear');
                $('#employee_form_edit').form('validate');
                $('#employee_treegrid_organization').treegrid('unselectAll');
                $('.employee_tr_text,.employee_tr_customattr').remove();

            });

            //删除人员
            $('#employee_linkbutton_delete').click(function () {
                var selectedIdsString = GetSelectionsIds();
                if (selectedIdsString.length>0) {
                    $.messager.confirm('提示', '确定要删除所选用户？', function (r) {
                        if (r) {

                            $.post("@Url.ActionPermission("Remove", "Employee")", { "ids": selectedIdsString }, function (data) {
                                $('#employee_treegrid_userlist').treegrid('load');
                                if (data.resultCode != 1) {
                                    $.messager.alert('提示', data.message, 'warning');
                                }
                            }, 'json')
                        }
                    })
                } else {
                    $.messager.alert('提示', '请选择要删除的用户', 'info');
                }
            })


            //重置密码
            $('#employee_linkbutton_resetpassword').click(function () {
                var selectedIdsString = GetSelectionsIds();
                if (selectedIdsString.length>0) {
                    $.messager.confirm('提示', '确定要重置所选用户的密码？', function (r) {
                        if (r) {
                            $.post("@Url.ActionPermission("ResetPassword", "Employee")", { "ids": selectedIdsString }, function (data) {
                                $('#employee_treegrid_userlist').treegrid('reload');
                                if (data.resultCode == 1) {
                                    $.slideMessage('提示', data.message);
                                }
                            }, 'json')
                        }
                    })
                } else {
                    $.messager.alert('提示', '请选择需要重置密码的用户', 'info');
                }
            })
        })

        function ChangeStatus(status) {

            var selectedIdsString = GetSelectionsIds();
            if (selectedIdsString.length>0) {
                $.messager.confirm('提示', '确定修改所选人员的账号状态？', function (r) {
                    if (r) {

                        $.post("@Url.ActionPermission("ChangeEmployeesStatus", "Employee")", { "ids": selectedIdsString, "status": status }, function(data) {
                            $('#employee_treegrid_userlist').treegrid('reload');
                            if (data.resultCode != 1) {
                                $.messager.alert('提示', data.message, 'warning');
                            }
                        }, 'json');
                    }
                })
            } else {
                $.messager.alert('提示', '请选择需要重置密码的用户', 'info');
            }

        }
        // 更新combo数据
        var mydata;
        function UpdateComboDate() {
            $.ajax({
                @Html.HasActionPermission("GetOrganizationList", "Organization","url: \"/Organization/GetOrganizationList\",")
                dataType: 'json',
                cache: false,
                async: false,
                success: function (data) {
                    mydata = data;
                }
            })
        }
        function InitAndFillUserQuickMoveCombo() {
            //防止重复构造combo
            var isParsered = false;
            try {
                $('#employee_combo_moveto').combo('getValue');
                isParsered = true;
            } catch (e) { }
            if (!isParsered) {
                $('#employee_combo_moveto').combo({
                    width: 200,
                    panelHeight: 400,
                    editable: false,
                    required: false,
                    missingMessage: '请选择父级机构！',
                    onShowPanel: function () {
                        $('#employee_treegrid_moveto').treegrid('unselectAll');
                    }
                })
            }
            var copydata = $.extend(true, {}, mydata);
            $('#employee_treegrid_moveto').appendTo($('#employee_combo_moveto').combo('panel'));
            $('#employee_treegrid_moveto').treegrid({
                fit: true,
                data: copydata,
                idField: 'Id',
                treeField: 'DisplayName',
                border: false,
                showHeader: true,
                singleSelect: true,
                onClickRow: function (row) {
                    $("#employee_combo_moveto").combo('setText', row.DisplayName).combo('setValue', row.Id).combo('hidePanel');
                }
            })
        }

        function InitAndFillUserEditCombos() {
            $('#employee_combo_organization').combo({
                required: true,
                width: 212,
                panelHeight: 400,
                editable: false
            })
            var copydata = $.extend(true, {}, mydata);
            $('#employee_treegrid_organization').appendTo($('#employee_combo_organization').combo('panel'));
            $('#employee_treegrid_organization').treegrid({
                fit: true,
                data: copydata,
                idField: 'Id',
                fitColumns: true,
                treeField: 'DisplayName',
                border: false,
                showHeader: true,
                singleSelect: true,
                onClickRow: function(row) {
                    $("#employee_combo_organization").combo('setText', row.DisplayName).combo('setValue', row.Id).combo('hidePanel');

                }
            });
            $.ajax({
                @Html.HasActionPermission("GetComboData", "Role", "url: '/Role/GetComboData',")
                dataType: 'json',
                async: false,
                cache: false,
                success: function (data) {
                    $('#employee_combobox_role').combobox({
                        required: true,
                        editable: false,
                        valueField: 'RoleId',
                        textField: 'RoleName',
                        'data': data,
                        width: 212,
                        onChange: function (newValue, oldValue) {
                            RebulidCustomAttributeArea(newValue);
                        }
                    });
                }
            })
        }

        //重建自定义属性输入区域
        function RebulidCustomAttributeArea(RoleId) {

            var newheight = 330;
            $('.employee_tr_customattr,.employee_tr_text').remove();
            if (RoleId != undefined && RoleId != "") {
                var roledata;
                $.ajax({
                    cache: false,
                    async: false,
                    type: "GET",
                    @Html.HasActionPermission("GetRoleByIds", "Role","url: \"/Role/GetRoleByIds\",")
                    data: { "ids": RoleId.join(',') },
                    dataType: "json",
                    success: function (data) {
                        roledata = data;
                    }
                });
                try {
                    var existNames = new Array();
                    if (roledata.length > 0) {
                        for (var r = 0; r < roledata.length; r++) {
                            var customattrs = roledata[r].CustomAttribute.split('|');
                            if (customattrs.length > 0 && customattrs[0] != "") {
                                for (var i = 0; i < customattrs.length; i++) {
                                    if (!existNames.contains(customattrs[i])) {

                                        existNames.push(customattrs[i]);
                                        if ($('.employee_tr_customattr:last').length > 0) {
                                            if ($('.employee_tr_customattr:last').find('.employee_input_customattribute').length < 2) {
                                                $('<td class="l">' + customattrs[i] + '：</td> <td class="r"><input type="text" data-attrname="' + customattrs[i] + '" class="employee_input_customattribute" /></td>').appendTo('.employee_tr_customattr:last');
                                            } else {
                                                $('<tr class="employee_tr_customattr"><td class="l">' + customattrs[i] + '：</td> <td class="r"><input type="text" class="employee_input_customattribute" data-attrname="' + customattrs[i] + '" /></td></tr>').appendTo('.employee_usertable:first');
                                                newheight += 38;
                                            }
                                        } else {
                                            $(' <tr  class="employee_tr_text"><td colspan="4" style="padding-top: 10px; padding-left: 20px; color: #19a4e1; font-weight: bold;">以下是自定义属性：</td></tr><tr class="employee_tr_customattr"><td class="l">' + customattrs[i] + '：</td> <td class="r"><input type="text" data-attrname="' + customattrs[i] + '"  class="employee_input_customattribute" /></td></tr>').appendTo('.employee_usertable:first');
                                            newheight += 60;
                                        }
                                    }
                                }
                            }
                        }

                    }
                } catch (e) {

                }

            }
            $('#employee_dialog_editdialog').dialog({ height: newheight, closed: false });
        }
        function GetSelectionsIds() {
            var selectedrows = $('#employee_treegrid_userlist').treegrid("getSelections");
            var ids = [];
            if (selectedrows.length != 0) {
                var selectedIdsString = "";
                for (var i = 0; i < selectedrows.length; i++) {
                    ids.push(selectedrows[i].Id);

                }
            }
            return ids;
        }

        //批量移动
        function MoveUsers() {
            if ($('#employee_combo_moveto').combo('getValue') != "") {
                var selectedIdsString = GetSelectionsIds();

                if (selectedIdsString.length>0) {

                    $.ajax({
                        data: { "ids": selectedIdsString, "parentid": $('#employee_combo_moveto').combo('getValue') },
                        url: '@Url.ActionPermission("Move", "Employee")',
                        type: "POST",
                        dataType: "json",
                        cache: false,
                        async: false,
                        success: function (data) {
                            $('#employee_treegrid_userlist').treegrid('reload');
                            $('#employee_combo_moveto').combo('clear');
                            if (data.resultCode != "1") {
                                $.messager.alert('提示', data.message, 'warning');
                            }
                        }
                    })
                } else {
                    $.messager.alert('提示', '请选择要移动的用户', 'info');
                }
            } else {
                $.messager.alert('提示', '请选择要移动到的父机构', 'info');
            }
        }

        //打开修改窗口并为修改窗口填充数据
        function OpenAndFillUserEditDialog(userId) {
            $('#employee_combobox_role').combobox('clear')
            var userdata = $('#employee_treegrid_userlist').treegrid('find', userId);
            $('#employee_validatebox_username').attr('disabled', true).validatebox('disableValidation');
            $('#employee_form_edit').form('load', userdata)
            $('#employee_combo_organization').combo('setValue', userdata.OrganizationId).combo('setText', userdata.OrganizationName);
            $('#employee_treegrid_organization').treegrid('unselectAll').treegrid('select', userdata.OrganizationId);
            $('#employee_dialog_editdialog').dialog('setTitle', '修改人员信息').dialog('open').dialog('options').title = '修改人员信息';
            //$('#employee_form_edit').attr('data-ajaxurl', 'Url.ActionPermission("Edit", "Employee")').form('validate');
            $('#employee_form_edit').attr('data-ajaxurl', '@Url.ActionPermission("Edit", "Employee")').form('validate');
            RebulidCustomAttributeArea(userdata.RoleIds);
            fillCustomAttribute(userdata);

        }

        function fillCustomAttribute(userdata) {
            var customAttributes = [];
            if (userdata.CustomAttribute != null) {
                var customAttributeString = userdata.CustomAttribute.split('|');
                for (var i = 0; i < customAttributeString.length; i++) {
                    if (customAttributeString[i] != "") {
                        var customAttribute = {};
                        customAttribute["name"] = customAttributeString[i].split('`')[0];
                        customAttribute["value"] = customAttributeString[i].split('`')[1]
                        customAttributes.push(customAttribute);
                    }
                }
                for (var k = 0; k < customAttributes.length; k++) {
                    $('.employee_input_customattribute[data-attrname=' + customAttributes[k].name + ']').val(customAttributes[k].value);
                }
            }
        }

        //关闭修改窗口
        function CloseUserDialog() {
            $('#employee_dialog_editdialog').dialog('close');
        }
        function SubmitUser() {
            if ($('#employee_form_edit').form('validate')) {
                var customAttributes = $('.employee_input_customattribute');
                var customAttributeString = "";
                for (var i = 0; i < customAttributes.length; i++) {
                    if (i == customAttributes.length - 1) {
                        customAttributeString += $(customAttributes[i]).attr('data-attrname') + "`" + $(customAttributes[i]).val();
                    } else {
                        customAttributeString += $(customAttributes[i]).attr('data-attrname') + "`" + $(customAttributes[i]).val() + "|";
                    }
                }
                $('#employee_form_edit').ajaxSubmit({
                    url: $('#employee_form_edit').attr('data-ajaxurl'),
                    data: { CustomAttribute: customAttributeString  },
                    type: "POST",
                    dataType: 'json',
                    success: function (data) {
                        $('#employee_treegrid_userlist').treegrid('reload');
                        $('#employee_dialog_editdialog').dialog('close');
                        if (data.resultCode != 1) {
                            $.slideMessage('提示', data.message,'warning');
                        }
                    }
                })
            }
        }
        function formatterRemark(value) {
            if (value != null) {
                return '<span style="width:16px;height:16px;display:inline-block; vertical-align: middle;" class="icon-chat" title="' + value.replace(/[\'\"]/g, '') + '"></span>';
            }
        }
        function formatterEditor(row) {
            if (row.Id.toString().substr(0, 1) != '-') {//&&HtmlExtensions.HasActionPermission("Edit", "Employee")
                return '<a class="employee_linkbutton_edit" href="javascript:void(0)" onclick="OpenAndFillUserEditDialog(\'' + row.Id + '\') " >修改</a>'
            }
        }
    </script>

}


<style>
    .employee_usertable td.l {
        padding-top: 10px;
        width: 80px;
        line-height: 20px;
        text-align: right;
    }

    .employee_usertable td.r {
        padding-top: 10px;
        width: 220px;
        line-height: 20px;
    }

        /*.employee_usertable td.r input {
                height: 20px;
                line-height: 20px;
            }*/

        .employee_usertable td.r .employee_input_customattribute {
            height: 20px;
            width: 210px;
        }
</style>
<div id="toolbar">
    <table cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
                <td>
                    @Html.ActionLinkPermission("添加", "employee_linkbutton_add", new { href = "javascript:void(0)", @class = "easyui-linkbutton", plain = "true", iconcls = "icon-add", id = "employee_linkbutton_add" })
                </td>
                <td><div class="datagrid-btn-separator"></div></td>
                <td>
                    @Html.ActionLinkPermission("删除", "employee_linkbutton_delete", new { href = "javascript:void(0)", @class = "easyui-linkbutton", plain = "true", iconcls = "icon-remove", id = "employee_linkbutton_delete" })
                </td>
                <td><div class="datagrid-btn-separator"></div></td>
                <td>
                    <a href="javascript:void(0)" class="easyui-linkbutton" plain="true" iconcls="icon-undo" id="employee_linkbutton_unselect">取消选择</a>
                </td>
                <td><div class="datagrid-btn-separator"></div></td>
                <td>
                    <a href="javascript:void(0)" class="easyui-linkbutton" plain="true" iconcls="icon-collapse" id="employee_linkbutton_collapseall">折叠</a>
                </td>
                <td><div class="datagrid-btn-separator"></div></td>
                <td>
                    <a href="javascript:void(0)" class="easyui-linkbutton" plain="true" iconcls="icon-expand" id="employee_linkbutton_expandall">展开</a>
                </td>
                <td><div class="datagrid-btn-separator"></div></td>
                <td>
                    @Html.ActionLinkPermission("重置密码", "employee_linkbutton_resetpassword", new { href = "javascript:void(0)", @class = "easyui-linkbutton", plain = "true", iconcls = "icon-lockedit", id = "employee_linkbutton_resetpassword" })
                    @*<a href="javascript:void(0)" class="easyui-linkbutton" plain="true" iconcls="icon-lockedit" id="employee_linkbutton_resetpassword">重置密码</a>*@
                </td>

                <td><div class="datagrid-btn-separator"></div></td>

                <td>
                    <span id="employee_splitbutton_status">
                        @*@Html.ActionLinkPermission("账户状态设置", "employee_linkbutton_resetpassword", new { href="javascript:void(0)" ,id="sb" ,@class="easyui-splitbutton", data-options="menu:'#mm',iconCls:'icon-star'"})*@
                       
                         @Html.HasActionPermission("ChangeEmployeesStatus", "Employee", "<a href=\"javascript:void(0)\" id=\"sb\" class=\"easyui-splitbutton\"data-options=\"menu:'#mm',iconCls:'icon-star'\">账户状态设置</a><div id=\"mm\" style=\"width:100px;\"><div data-options=\"iconCls:'icon-customerblacklist'\" onclick=\"ChangeStatus(0)\">禁用</div><div data-options=\"iconCls:'icon-customernormal'\" onclick=\"ChangeStatus(1)\">离职</div><div data-options=\"iconCls:'icon-customervip'\" onclick=\"ChangeStatus(2)\">在职</div>")
               
                        

                    </span>
                </td>
                <td><div class="datagrid-btn-separator"></div></td>
                <td>
                    <span id="employee_span_transferuser">
                        <a href="javascript:void(0)" onclick="MoveUsers()" id="employee_linkbutton_transferuser" class="easyui-linkbutton" iconcls="icon-redo" plain="true">转移到</a>
                        <select id="employee_combo_moveto" style="height: 20px; width: 200px"></select>
                        <table id="employee_treegrid_moveto" fit="true">
                            <thead>
                                <tr>
                                    <th field="DisplayName" data-options="width:180">请选择目标节点</th>
                                </tr>
                            </thead>
                        </table>
                    </span>
                </td>
                <td><div class="datagrid-btn-separator"></div></td>
                <td>
                    搜索：<input class="easyui-searchbox" data-options="prompt:'请输入查询关键字',searcher:function(value,name){
                               $('#employee_treegrid_userlist').treegrid('load',{keyword:value})
                               },width:180" />
                </td>
                <td><div class="datagrid-btn-separator"></div></td>
                <td>
                    <a class="easyui-linkbutton" href="javascript:void(0)" iconcls="icon-reload" plain="true" id="employee_linkbutton_refresh">刷新</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<table id="employee_treegrid_userlist" title="用户管理" style="min-width: 900px;" border="false" fit="true">
    <thead>
        <tr>
            <th field="Name" data-options="width:220,halign:'center'">姓名</th>
            <th field="UserName" data-options="width:120,align:'center',fixed:true">登录名</th>
            <th field="Job" data-options="width:120,align:'center',fixed:true">职责</th>
            <th field="Sex" data-options="width:35,fixed:true,align:'center',formatter:function(value,row){if(row.Id.substr(0,1)!='-'){
                    switch(value){
                    case 0:return '保密';break;
                    case 1:return '男';break;
                    case 2:return '女';break;
                    }
                    }}">性别</th>

            <th field="PhoneNumber" data-options="width:100,fixed:true,align:'center'">手机</th>

            <th field="ZipCode" data-options="width:60,fixed:true,align:'center',hidden:true">邮编</th>
            <th field="Address" data-options="width:320,fixed:true,align:'center'">地址</th>
            <th field="Email" data-options="width:140,fixed:true,align:'center'">邮箱</th>
            <th field="QQ" data-options="width:75,fixed:true,align:'center'">QQ</th>
            <th field="Remark" data-options="width:60,fixed:true,align:'center',formatter:formatterRemark">备注</th>
            <th field="Status" data-options="width:50,fixed:true,align:'center',formatter:function(value,row,index){if(row.Id.substr(0,1)!='-') { if(value==0){return '<span style=\'display:inline-block; border-radius:5px; width:10px;height:10px; background:red;\'></span>禁用'}else if(value==1){return '<span style=\'display:inline-block;width:10px;height:10px;border-radius:5px; background:orange;\'></span>离职'}else{ return '<span style=\'display:inline-block;width:10px;height:10px;border-radius:5px; background:green;\'></span>在职'}}}">状态</th>
            <th field="edit" data-options="width:70,fixed:true,align:'center',formatter: function (value, row, index) { return formatterEditor(row)}">操作</th>
        </tr>
    </thead>
</table>

<div id="employee_dialog_editdialog" class="easyui-dialog" style="padding: 5px; width: 650px; height: 330px;">
    <form id="employee_form_edit">
        <table class="employee_usertable">
            <tr>
                <td>
                    <input id="employee_validatebox_userid" type="text" style="display: none;" name="Id" value="00000000-0000-0000-0000-000000000000" />
                </td>
            </tr>
            <tr>
                <td class="l">登录名：</td>
                <td class="r">
                    <input id="employee_validatebox_username" class="easyui-validatebox" type="text" name="UserName" data-options="validType:['checkuser','username']" required="true" style="width: 210px;" />
                </td>
                <td class="l">姓名：</td>
                <td class="r">
                    <input id="employee_validatebox_name" class="easyui-validatebox" type="text" name="Name" data-options="validType:['name','length[1,18]']" required="true" style="width: 210px;" />
                </td>
            </tr>

            <tr>

                <td class="l">性别：</td>
                <td class="r">
                    <select id="employee_combobox_sex" name="Sex" class="easyui-combobox" data-options="required:true,editable:false,width:212,panelHeight:78">
                        <option value="0">保密</option>
                        <option value="1">男</option>
                        <option value="2">女</option>
                    </select>
                </td>
                <td class="l">用户状态：</td>
                <td class="r">
                    <select name="Status" class="easyui-combobox" data-options="required:true,editable:false,width:212,panelHeight:78">
                        <option value="0">禁用</option>
                        <option value="1">离职</option>
                        <option value="2">在职</option>
                    </select>
                </td>
            </tr>

            <tr>
                <td class="l">所属组织：</td>
                <td class="r">
                    <select id="employee_combo_organization" name="OrganizationId"></select>
                    <table id="employee_treegrid_organization" fit="true">
                        <thead>
                            <tr>
                                <th field="DisplayName" data-options="required:true,editable:false,width:180">请选择目标节点</th>
                            </tr>
                        </thead>
                    </table>
                </td>

                <td class="l">用户角色：</td>
                <td class="r">
                    <select id="employee_combobox_role" name="RoleIds" class="easyui-combobox" data-options="required:true,editable:false,width:212,panelHeight:78,multiple:true"></select>
                </td>
            </tr>

            <tr>
                <td class="l">邮政编码：</td>
                <td class="r">
                    <input id="employee_validatebox_zipcode" type="text" name="ZipCode" maxlength="10" class="easyui-validatebox" data-options="validType:'zip'" style="width: 210px;" />
                </td>
                <td class="l">地址：</td>
                <td class="r">
                    <input id="employee_validatebox_address" class="easyui-validatebox" type="text" name="Address" maxlength="100" class="easyui-validatebox" validtype="length[0,100]" style="width: 210px;" />
                </td>
            </tr>

            <tr>
                <td class="l">邮箱：</td>
                <td class="r">
                    <input id="employee_validatebox_email" type="text" name="Email" class="easyui-validatebox" maxlength="100" required="required" style="width: 210px;" />
                </td>
                <td class="l">QQ：</td>
                <td class="r">
                    <input id="employee_validatebox_qq" class="easyui-validatebox" type="text" name="QQ" validtype="qq" maxlength="30" style="width: 210px;" />
                </td>
            </tr>

            <tr>

                <td class="l">手机：</td>
                <td class="r">
                    <input id="employee_validatebox_phone" class="easyui-validatebox" validtype="mobile" type="text" maxlength="20" name="PhoneNumber" style="width: 210px;" />
                </td>
                <td class="l employee_td_teacherattr">职责：</td>
                <td class="r employee_td_teacherattr">
                    <input id="employee_validatebox_job" class="easyui-validatebox" validtype="length[0,100]" type="text" name="Job" style="width: 210px;" />
                </td>
            </tr>

            <tr>
                <td class="l">备注：</td>
                <td class="r" colspan="3">
                    <input class="easyui-validatebox" validtype="length[0,254]" type="text" maxlength="20" name="Remark" style="width: 513px;" />
                </td>
            </tr>
        </table>
    </form>
</div>
